<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>值绑定</title>
</head>

<body>
    <div id="app">
        <h2>select多选时：(按contrl键选择进行多选)</h2>
        <select name="b" id="s2" v-model="mySelects" multiple>
            <option value="苹果">苹果</option>
            <option value="香蕉">香蕉</option>
            <option value="榴莲">榴莲</option>
            <option value="葡萄">葡萄</option>
        </select>
        <h2>值绑定</h2><!-- 一般形式：v-bind:value="..." -->
        <!-- 需要进行值绑定主要是因为实际开发时服务器只会返回一个包含所有可选值的数组，所以需要根据数组动态的变换可选项的值，而不是像前的例子一样用固定的选项 -->
        <h3>请选择您的爱好：</h3>
        <label v-for="item in originHobbies">
            <input type="checkbox" :value="item" v-model="hobbies">{{item}}
        </label>
        <h4>您选择的爱好是：{{hobbies}}</h4>
    </div>
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                hobbies:[],
                originHobbies: ["篮球", "足球", "乒乓球", "羽毛球", "台球", "高尔夫", "排球", "铅球"],
            }
        });
    </script>
</body>

</html>